.text-muted{
  font-family: 'Lato', sans-serif;
  color: #000;
}

a{
  text-decoration: none;
}

button{
  background-color: #EEFFFF;
  box-shadow: 1px 2px 3px #EEFFFF;
  height: 130px;
  border-radius: 50%;
  margin-top: 2%;
}

button:hover{
  background-color: #F5FFFF;
}

.projects{
  background-color: #00FFFF;
}

.follow{
  background-color: #0088FF;
}

.speech{
  background-color: #00CCFF;
  color: #000088;
}

img{
  width: 25%;
}

#myBtn{
  height: 50px;
}

.alert-info{
  box-shadow: 1px 2px 3px;
}

#restrictHeight{
    height: 150px;
}

.alert-warning{
  box-shadow: 2px 4px 6px;
}

aside, section{
  background-color: #DEFFFF;
}

.collapse.navbar-collapse{
  background-color: #EEFFFF;
}

@media (min-width: 768px) {
  .centerPhoto {
    left: inherit;
    position: inherit;
    width: 150%;
  }
 }
