a{
  text-decoration: none;
}

body{
  background: linear-gradient(#ffffff, #EFEFEF);
}

button{
  background-color: #FFF;
  box-shadow: 1px 2px 3px #FFF;
  height: 130px;
  border-radius: 50%;
  margin-top: 2%;
  border: 0px;
}

button:hover{
  background-color: #F5FFFF;
}

img{
  width: 25%;
}

.alert-info{
  box-shadow: 1px 2px 3px;
}

.alert-warning{
  box-shadow: 2px 4px 6px;
}

aside, section{
  background-color: #DEFFFF;
}

.collapse.navbar-collapse{
  background-color: #EEFFFF;
}

.fit{
  max-width: 1000px;
  object-fit: contain;
  margin-left: 15%;
}

.follow{
  background-color: #CFFFFF;
}

#logo{
  border-radius: 50%;
  transition: border-radius .5s, transform .5s;
}

#logo:hover{
  border-radius: 0%;
  transform: rotate(360deg);
}

#myBtn{
  height: 50px;
}

.projects{
  background-color: #D0FFFF;
  margin-left: 90px;
}

#restrictHeight{
    height: 150px;
}

.speech{
  background-color: #C8FFFF;
  color: #000088;
  max-width: 900px;
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.text-muted{
  font-family: 'Lato', sans-serif;
  color: #000;
}

.titleAnim{
  transition: font-size .75s;
}

.titleAnim:hover{
  font-size: 48px;
}

@media (max-width: 768px) {

  .centerPhoto {
    left: inherit;
    position: inherit;
  }

  .fit{
    margin-left: 0px;
  }

  .speech{
    margin-left: auto;
  }
 }
