.text-muted{
  font-family: 'Lato', sans-serif;
}

img {
  width: 20%;
}

.alert-success{
  box-shadow: 5px 10px;
}

@media (min-width: 480px) {
  .centerPhoto {
    left: inherit;
    position: inherit;
  }
 }
